<div class="connect" ng-if="notConnected">
    Please connect to activate Fast Tracks
    <img src="../img/btn-connect-l.png" id="connectBtn">
</div>

<!--<label for="contentType">Category</label>-->

<div class="fast-track" ng-if="!notConnected">
    <label for="playlist">Playlist</label>
    <select id="playlist"
            ng-model="playlist"
            ng-options="opt as opt.label for opt in playlistOptions"
            ng-change="setPlaylist()">
    </select>
    <label for="limit">Limit</label>
    <select id="limit"
            ng-model="maxTracks"
            ng-options="opt as opt.label for opt in limitOptions">
    </select>

    <input type="text" id="search" ng-model="search" placeholder="Search..."/>
    <ul class="tracks">
        <li ng-repeat="track in tracks | filter:search | limitTo:maxTracks.value track by track.id">
            <span ng-bind-html="track.oEmbed.html" ng-if=" trackViewClass == 'wide' "></span>
            <a ng-if="track.streamable" ng-click="playTrack(track)">{{track.title}}</a>
        </li>
    </ul>
</div>
