<div class="connect" ng-if="notConnected">
    Please connect to activate Fast Tracks
    <img src="../img/btn-connect-l.png" id="connectBtn">
</div>

<!--<label for="contentType">Category</label>-->

<div class="fast-track" ng-if="!notConnected">
    <select ng-model="category"
            ng-options="opt as opt.label for opt in options"
            ng-change="selectAction()">
    </select>

    <!--<ul class="tracks" ng-if="!notConnected">-->
    <!--<li ng-repeat="track in tracks track by track.id" class="embedTrack"><span ng-bind-html="track.oEmbed.html"></span></li>-->
    <!--</ul>-->

    <input type="text" id="search" ng-model="search" placeholder="Search..."/> in {{categorySelected}}
    <ul class="tracks">
        <li ng-repeat="track in tracks | filter:search track by track.id"><a ng-if="track.streamable" ng-click="playTrack(track)">{{track.title}}</span></li>
    </ul>
</div>
