<div class="connect" ng-if="notConnected">
    Please connect to activate Fast Tracks
    <img src="../img/btn-connect-l.png" id="connectBtn">
</div>

<!--<label for="contentType">Category</label>-->

<div class="fast-track" ng-if="!notConnected">
    <label for="playlist">Playlist</label>
    <select id="playlist"
            ng-model="playlist"
            ng-options="opt as opt.label for opt in playlistOptions"
            ng-change="setPlaylist()">
    </select>
    <label for="limit">Limit</label>
    <select id="limit"
            ng-model="maxTracks"
            ng-options="opt as opt.label for opt in limitOptions"
            ng-change="setLimit()">
    </select>
    <button ng-click="refresh()">Refresh</button>

    <input type="text" id="search" ng-model="search" placeholder="Search..."/>

    <ul class="tracks">
        <li class="mytracks" ng-hide="playlist.value != 'tracks'">
            <ul>
                <li ng-repeat="track in playlistTracks.tracks | filter:search | limitTo:maxTracks.value track by track.id"
                    ng-class="track.id">
                    <!--TODO: Track directive that include cached version of embedded track -->
                    <span ng-bind-html="track.oEmbed.html"></span>
                    <a ng-if="track.streamable" ng-click="playTrack(track)">{{track.title}}</a>
                </li>
            </ul>
        </li>
        <li class="stream" ng-hide="playlist.value != 'stream'">
            <ul>
                <li ng-repeat="track in playlistTracks.stream | filter:search | limitTo:maxTracks.value track by track.id"
                    ng-class="track.id">
                    <!--TODO: Track directive that include cached version of embedded track -->
                    <span ng-bind-html="track.oEmbed.html"></span>
                    <a ng-if="track.streamable" ng-click="playTrack(track)">{{track.title}}</a>
                </li>
            </ul>
        </li>
        <li class="favorites" ng-hide="playlist.value != 'favorites'">
            <ul>
                <li ng-repeat="track in playlistTracks.favorites | filter:search | limitTo:maxTracks.value track by track.id"
                    ng-class="track.id">
                    <!--TODO: Track directive that include cached version of embedded track -->
                    <span ng-bind-html="track.oEmbed.html"></span>
                    <a ng-if="track.streamable" ng-click="playTrack(track)">{{track.title}}</a>
                </li>
            </ul>
        </li>
    </ul>


</div>
