@import "mixins.less";

ul {
  list-style: none;
}

.connect {
  margin: 0 auto;
  left: 30%;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  position: absolute;
}

.connectBtn { cursor: pointer }
.trackView {
  overflow-y: hidden;
}

.player {
  position: fixed;
  width: 100%;
  bottom: -10px;
}

.tracks {
  height: 85vh;
  margin: 0;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-align-content: stretch;
  align-content: stretch;

  li {
    border-bottom: 1px solid moccasin;
    .text-overflow();

  }
}

//Most compact view, meant to list as much as possible on a screen
.nolimit {
  .tracks {
    height: 85vh;
    margin: 0;
    li {
      width: 20%;
      flex: none;
      .text-overflow();
    }
  }
}


//wide views for less than 10 tracks, they will all be resolved
.wide {
  .tracks {
    height: 95vh;
    margin: 10px 0;
    li {
      width: 100%;
      flex: 1 1;
      margin: 0.1em 0;
    }
  }
  a { display: none; }
  .player { display: none; }
}

.compact li { width: 30%; span { display: none} }